.screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fcf803, #db6e00);
}

.block{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.block-api{
    background-color: wheat;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    padding: 18px;
}

.text{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-shadow: 5px 5px 10px #ff2c2c;
}

body{
    margin: 0;
}