<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
    <title>vap-backend</title>
  </head>

  <body>
    <div class="screen">
      <div class="block">
        <span class="text">Rest API</span>
        <br />
        <br />
        <br />
        <div class="block-api">
          <p>
            This is the backend web application takes the REST API response the
            result of the country area and data for visualizing air pollution.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
