<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <title>Document</title>
</head>

<body>
    <div class="screen">
        <div class="block">
            <span class="text">This is spdb-backend</span>
            <br/>
            <br/>
            <span>Rest API</span>
            <br/>
            <span>path: [http://localhost:5000]/world/[the name of country for calculate area]</span>
        </div>
    </div>
</body>

</html>